@media only screen and (min-device-width: 812px) {
    p,
    label {
        font-size: 16px;
    }

    main .header {
        height: 40px;
    }

    main .appName p {
        font-size: 16px;
    }

    footer {
        height: 33px;
    }

    footer img {
        height: 28px;
    }

    footer #menu {
        bottom: 33px;
    }

    footer #menu img {
        height: 32px;
    }

    footer #avatar p {
        font-size: 20px;
    }

    footer #avatar img {
        height: 50px;
    }

    footer #menuColumns > div {
        width: 200px;
    }

    footer #notification img {
        height: 22px;
        display: block;
    }

    #calculator {
        height: 390px;
    }
}
