main {
    width: 100%;
    min-width: 280px;
    max-width: 80vw;
    margin: auto;
    gap: 10px;
}

main #calcDisplay {
    justify-content: center;
    background-color: white;
    font-size: min(15vw, 4em);
    border: 3px solid black;
    border-radius: 5px;
    gap: 20px;
}

main #numPed,
main #numPed > div {
    grid-gap: 5px;
}

main #numPed > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
}

main #numPed label {
    padding: 10px;
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    color: blue;
    background-color: #f8f8f6;
    border: 1px solid black;
    border-radius: 5px;
}

main #numPed label:hover {
    background-color: var(--bege);
}

main #numPed .zeroPad {
    grid-column: 1 / 4;
}

main #numPed #plusPad {
    background: darkorange;
    align-items: center;
    padding: 20px;
    color: black;
}

main #numPed #plusPad:hover {
    background: orange;
}
