body {
    font-family: sans-serif;
    background-color: var(--bege);
}

input {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

label {
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    color: blue;
    background-color: #f8f8f6;
    border: 1px solid black;
    border-radius: 5px;
}

label:hover {
    background-color: var(--bege);
}

#calcDisplay {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 50px;
    border: 3px solid black;
}

#firstDisplay::after {
    padding-right: 10px;
}

#secondDisplay::after {
    padding: 0 10px;
}

#sumDisplay::after {
    padding-left: 10px;
}

#numPed {
    display: flex;
    padding: 5px;
}

#padFirst,
#padSecond {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 100%;
}

.zeroPad {
    grid-column: 1 / 4;
}

#plusPad {
    display: flex;
    background: orange;
    align-items: center;
    padding: 20px;
    margin-left: 5px;
    color: black;
}

@media only screen and (min-device-width: 812px) {
    label {
        font-size: 28px;
    }
}
