#firstDisplay {
  color: lightcoral;
}

#padSecond {
  display: none;
}

#switchPad:checked ~ #numPed #padFirst {
  display: none;
}

#switchPad:checked ~ #numPed #padSecond {
  display: grid;
}

#switchPad:checked ~ #calcDisplay #firstDisplay::after {
  color: black;
}

#switchPad:checked ~ #calcDisplay #secondDisplay::after {
  color: lightcoral;
}
