#bold:checked ~ textarea {
    font-weight: bold;
}

#italic:checked ~ textarea {
    font-style: italic;
}

#underline:checked ~ textarea {
    text-decoration: underline;
}

#size:checked ~ textarea {
    font-size: 70px;
}

#wrap:checked ~ textarea {
    white-space: break-spaces;
}

#black:checked ~ textarea {
    background-color: black;
    color: white;
}

@media only screen and (min-device-width: 812px) {
    #size:checked ~ textarea {
        font-size: 26px;
    }
}
