<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../lib/global.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <span title="File">File</span>
        <span title="Edit">Edit</span>
        <span title="View">View</span>
        <span title="Help">Help</span>
      </nav>
    </header>

    <main>
      <textarea></textarea>
    </main>
  </body>
</html>
