<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Calculator</title>
        <link href="../../css/font.css" rel="stylesheet" />
        <link href="../lib/global.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/displayLogic.css" rel="stylesheet" />
        <link href="css/sumLogic.css" rel="stylesheet" />
        <link href="css/pedLogic.css" rel="stylesheet" />
    </head>

    <body>
        <header>
            <nav>
                <button title="Edit">Edit</button>
                <button title="View">View</button>
                <button title="Help">Help</button>
            </nav>
        </header>

        <main>
            <input checked id="zeroFirst" name="firstNumber" type="radio" />
            <input id="oneFirst" name="firstNumber" type="radio" />
            <input id="twoFirst" name="firstNumber" type="radio" />
            <input id="threeFirst" name="firstNumber" type="radio" />
            <input id="fourFirst" name="firstNumber" type="radio" />
            <input id="fiveFirst" name="firstNumber" type="radio" />
            <input id="sixFirst" name="firstNumber" type="radio" />
            <input id="sevenFirst" name="firstNumber" type="radio" />
            <input id="eightFirst" name="firstNumber" type="radio" />
            <input id="nineFirst" name="firstNumber" type="radio" />

            <input checked id="zeroSecond" name="secondNumber" type="radio" />
            <input id="oneSecond" name="secondNumber" type="radio" />
            <input id="twoSecond" name="secondNumber" type="radio" />
            <input id="threeSecond" name="secondNumber" type="radio" />
            <input id="fourSecond" name="secondNumber" type="radio" />
            <input id="fiveSecond" name="secondNumber" type="radio" />
            <input id="sixSecond" name="secondNumber" type="radio" />
            <input id="sevenSecond" name="secondNumber" type="radio" />
            <input id="eightSecond" name="secondNumber" type="radio" />
            <input id="nineSecond" name="secondNumber" type="radio" />

            <input id="switchPad" name="numberPad" type="checkbox" />

            <section id="calcDisplay">
                <p id="firstDisplay"></p>
                <p id="secondDisplay">+</p>
                <p id="sumDisplay">=</p>
            </section>

            <section id="numPed">
                <div id="padFirst">
                    <label for="sevenFirst">7</label>
                    <label for="eightFirst">8</label>
                    <label for="nineFirst">9</label>
                    <label for="fourFirst">4</label>
                    <label for="fiveFirst">5</label>
                    <label for="sixFirst">6</label>
                    <label for="oneFirst">1</label>
                    <label for="twoFirst">2</label>
                    <label for="threeFirst">3</label>
                    <label class="zeroPad" for="zeroFirst">0</label>
                </div>

                <div id="padSecond">
                    <label for="sevenSecond">7</label>
                    <label for="eightSecond">8</label>
                    <label for="nineSecond">9</label>
                    <label for="fourSecond">4</label>
                    <label for="fiveSecond">5</label>
                    <label for="sixSecond">6</label>
                    <label for="oneSecond">1</label>
                    <label for="twoSecond">2</label>
                    <label for="threeSecond">3</label>
                    <label class="zeroPad" for="zeroSecond">0</label>
                </div>

                <label for="switchPad" id="plusPad">+</label>
            </section>
        </main>
    </body>
</html>
