<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      a::before {
        content: attr(content);
      }
    </style>
  </head>
  <body>
    <a href="" data-number="1">1</a>
  </body>
</html>
